{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "window": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": 0
  },
  "extends": "eslint:recommended"
}
